/*  Colors  */

$purple: #38224d;
$light-purple:#882756;
$orange: #F8991F;
$light-orange:#F7B521;
$blue: #46a5c6;
$light-gray: #ededed;

// ******* Screen Size Variables ******* //
$screen-iphone: 290px;

/* Older iphone 4, 4s, 5*/

$screen-xs: 576px;

/* Extra Small devices (phone, 576px and up) */

$screen-sm: 768px;

/* Small devices (tablets, 768px and up) */

$screen-md: 992px;

/* Medium devices (desktops, 992px and up) */

$screen-lg: 1200px;

/* Large devices (large desktops, 1200px and up) */